<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>You can share your thoughts with me here</p>


							<form method="post" action="{% url 'main:homeview' %}">

								<div class="row">
									{% csrf_token %}
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="sender" placeholder="Email" /></div>
									<div class="col-12 ">
										<input class="col-6 col-12-mobile" type="text" name="message" placeholder="Message">
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>